html, body {
    background-color: white;
    display: flex;
    align-items: flex-start;
}
.card-holder {
    display: grid;
    position: relative;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  
  .card-element {
    border: 1px solid #ccc;
    height: 40%;
    width: 80%;
    padding: 20px;
    margin: 20px 20px 0px 20px;
    border-radius: 5px;
    border-left: 10px solid rgb(23, 220, 164);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  }
  .green-text{
    color: rgb(23, 220, 164)
  }
  .red-text{
    color: red;
  }